.serviceImg{
    width: 82px;
    height: 82px;
    margin: auto;
}
.allCards{
    box-shadow: 2px 10px 18px 8px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;
}
.serviceText h6{
   color: #404040;
   font-weight: 400;
   font-family: poppins;
   font-size: 16px;
   margin-bottom: 70px;
}
.serviceText h3{
    font-family: poppins;
    color: #091156;
    font-weight: 700;
    font-size: 38px;
}
.cardTitle{
    font-family: poppins;
}
.cardDesc{
    font-family: poppins;
    font-size: 14px;
}
@media only screen and(max-width:788px){
    .allCards{
        margin-right: 500vh;
    }
}