/* .logo-name{
  color: white;
  padding-top: 50px !important;
} */
.footer-top p{
  color: white;
}
.footer {
    background-color: #232323;
    color: white;
    padding: 10px 0;
    text-align: right;
    border-top: 2px solid white;
  }
  .footer p{
    padding-right: 20px;
  }
  .footer-top {
    background-color: #232323 !important;
  }
  .social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  li, i, a{
    text-decoration: none;
  }
  .social-icons li {
    margin: 0 10px;
  }
  .social-icons li i{
    color: white;
    padding: 7px;
    background-color: rgb(56, 51, 51);
    border-radius: 50%;
  }
  .social-icons li:nth-child(1) {
    margin-left: 0;
  }
  .social-icons li:nth-child(1) i:hover {
    color: #ff0000;
  }
  .social-icons li:nth-child(2) i:hover {
    color: #5374bd;
  }
  .social-icons li:nth-child(3) i:hover {
    color: #8a3ab9;
  }
  .social-icons li:nth-child(4) i:hover {
    color: #1da1f2;
  }
  
  .social-icons a {
    text-decoration: none;
  }
  
  .social-icons a i {
    font-size: 27px;
  }
  .col-title {
    color: white;
    text-transform: capitalize;
    margin: 25px 0 20px;
  }
  
  .information {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .information li {
    margin: 5px 0;
  }
  .information li a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in;
  }
  .information li a:hover {
    text-decoration: underline;
    color: white;
  }
  .contact-info li {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in;
  }
  .contact-info li i {
    margin-right: 5px;
  }
  .footer-text{
    font-size: 14px;
    font-style: italic;
    /* font-weight: 700; */
    line-height: 24px;
    width: 255px;
  }