
.left-side{
  width: 80vh;
  height: 70vh;
  background-color: #F5F5F5;
}
.registred_text {
    width: 70vh;
    font-family: "Roboto Serif", sans-serif;
    left: 0px;
    margin-top: 51px;
  }
  .card{
    background: transparent;
  }
  .registred_text_role {
    display: flex;
  }
  .registred_text_role div {
    width: 25px;
    height: 17px;
    margin-top: 10px;
    margin-right: 15px;
    background: #8dc63e;
    border-radius: 50%;
  }
  .pc_img{
    padding: 0;
    margin-right: 0px;
  }
  .btn_text_2 {
    left: 52px;
    top: 424px;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: white;
    background: linear-gradient(89.87deg, #fe5266 1.09%, #fe8b15 99.39%);
  }
  
  